# Travis configuration for go
#
# See README for more information about this repository.
#
# This repository does NOT do any deployments or installs.  However,
# it includes a lot of integration tests, which often require
# credentials.
#
#  * decrypt service account credentials
#  * install the Google Cloud SDK command line tools (gcloud)
#  * cache the gcloud installation and setup
#  * test and build the go code
#
language: go
go:
- "1.12"

dist: xenial

before_install:
# Coverage tools
- go get github.com/mattn/goveralls
- go get github.com/wadey/gocovmerge

# Install gcloud, for integration tests.
- $TRAVIS_BUILD_DIR/travis/install_gcloud.sh
- source "${HOME}/google-cloud-sdk/path.bash.inc"

# Install test credentials.
# Note that anyone with github ACLs to push to a branch can hack .travis.yml
# and discover these credentials in the travis logs.
- echo $TEST_SERVICE_ACCOUNT_mlab_testing | base64 -d > travis-testing.json
- gcloud auth activate-service-account --key-file=travis-testing.json

- echo Branch is ${TRAVIS_BRANCH} and Tag is $TRAVIS_TAG
- echo EVENT_TYPE is ${TRAVIS_EVENT_TYPE}
- if [[ ${TRAVIS_EVENT_TYPE} == cron ]]; then TEST_TAGS=integration; fi;
- echo TEST_TAGS is ${TEST_TAGS}

# These directories will be cached on successful "script" builds, and restored,
# if available, to save time on future builds.
cache:
  directories:
  - "$HOME/google-cloud-sdk/"

script:
- export GOOGLE_APPLICATION_CREDENTIALS=$TRAVIS_BUILD_DIR/travis-testing.json
# Run every regular unit test.
- go test -covermode=count -coverprofile=_coverage.cov -v ./...
# bqext should also have its integration tests run.
- go test -covermode=count -coverprofile=_bqext.cov -v ./bqext -tags=$TEST_TAGS

# Check we haven't broken any dependent projects
- go get -t github.com/m-lab/etl/...
- go vet github.com/m-lab/etl/...
- go get -t github.com/m-lab/etl-gardener/...
- go vet github.com/m-lab/etl-gardener/...
- go get -t github.com/m-lab/ndt-server/...
- go vet github.com/m-lab/ndt-server/...
- go get -t github.com/m-lab/annotation-service/...
- go vet github.com/m-lab/annotation-service/...
- go get -t github.com/m-lab/uuid/...
- go vet github.com/m-lab/uuid/...
- go get -t github.com/m-lab/pusher/...
- go vet github.com/m-lab/pusher/...

# Coveralls
- $HOME/gopath/bin/gocovmerge *.cov > __merged.cov
- $HOME/gopath/bin/goveralls -coverprofile=__merged.cov -service=travis-ci
